a.meinButton {
    background-color: #2b916f;
    border: 5px solid slateblue;
    color: white;
    cursor: pointer;
    display: block;
    margin: 50px 0;
    padding: 50px;
    text-align: center;
}

h2{
  font-size: 30px
}
h3{
  font-size: 23px
}
