
// Hier definieren wir die Farben für unsere Website

$farbe_1: #A0CA92;
$farbe_2: #082D0F;

$zitat-farbe: #190f8b;

$menu-farbe: #A0CA92;
$menu-text-farbe: #ffffff;

$header-farbe: #000000;
$header-text-farbe: #ffffff;
