
// Hier definieren wir die Farben für unsere Website

$farbe_1: #35B087;
$farbe_2: #fdc72f;

$zitat-farbe: #ffffff;

$menu-farbe: #000000;
$menu-text-farbe: #ffffff;

$header-farbe: #000000;
$header-text-farbe: #ffffff;

