@import './../los-gehts/variablen.scss';

.quote {
    border: 5px solid $farbe_2;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    background-color: rgba($farbe_1, .3);
    margin: 50px 0;
    padding: 60px;
    text-align: center;
    width: 100%;
}

.quote-box {

}

.quote-text {
    color: $zitat-farbe;
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;
}

.quote-subtitle {
    font-size: 16px;
    margin-top: 10px;
}