@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #0f0f0f;

    overflow-x: hidden;
}

a {
    color: #2b916f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: all .2s ease;
}

h1 {
    font-size: 80px;
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    line-height: 1.2;
}

.content {
    margin: 50px 0;
}

@media(min-width: 720px) {
    .content {
        margin: 50px auto;
        width: 50%;
    }
}

.content img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 30px;
}

.content .caption {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
}

.content-full-width {
    width: 100%;
}

.intro-text {
  font-size: 23px;
  font-weight: 500;
  font-family: 'Slabo 27px', serif;
}

/*
export const theme_farbe_1 = '';

export const theme_farbe_2 = '';

export const menu_color = '';

export const header_color = '';
*/
